#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
!supermarket.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Rel*/
Ankh.NoLoad

#MonoDevelop
*.pidb
*.userprefs

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.sass-cache

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

# vim Temp Files
*~

#NuGet
packages/
*.nupkg

#ncrunch
*ncrunch*
*crunch*.local.xml

# visual studio database projects
*.dbmdl

#Test files
*.testsettings

*.opendb
ignore/
WebUI/excl/
upload_files/
*.ldf
*.LDF
何建钦/login/files/
.vs/
周果冻/WebSite/html/message_board/html/indix.html
周果冻/WebSite/html/message_board/html/indix.html
何建钦/login/image/e1fcca29-98af-45d1-b0ba-cf6000b5700f.txt
何建钦/login/image/a35b0f89-e278-4a7e-99e9-62122aef1466.docx
何建钦/login/image/c821e2d0-9b01-4bf0-9de6-ba3116d19468.png
何建钦/login/image/7be639ce-fee2-47d9-a43a-f545b77fb4e7.xls
何建钦/login/image/696d2fee-1825-409a-bc48-ed6a5905851a.png
何建钦/login/image/4af4c471-a081-4d9c-9756-18daf46802da.txt
何建钦/login/image/36334f24-53f9-4543-ad51-1827cb508c6f.html
周果冻/WebSite/html/message_board/html/indix.html
周果冻/WebSite/html/message_board/html/indix.html
周果冻/WebSite/html/message_board/html/indix.html