<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <customErrors mode="Off"/>
    </system.web>
  <connectionStrings>
    <!--<add name="connstr3" connectionString="Data Source=.;Initial Catalog=Sign;User Id=sa;Password=Exp8848;"></add>-->
    <add name="connstr3" connectionString="Data Source=.;Initial Catalog=Sign;User Id=sa;Password=123456;"></add>
  </connectionStrings>
    <system.webServer>
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>
